.header-color {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ui.segment {
  background-color: #aaa;
  padding: 0px;
  margin: 0px;
  /* border: medium solid yellow; */
  border: none !important;
}

/* footer */
.AppFooter {
  padding: auto;
  margin: auto;
  text-align: center;
}

.AppFooter i {
  padding-top: 0.1em;
  color: rgb(97, 218, 251);
  font-size: 1.3em;
  font-weight: 400;
}
.AppFooter-made-with {
  font-size: 0.8em;
  color: slategray;
  font-weight: bold;
  padding: 0em;
}
.AppFooter-react {
  padding-left: 0.3em;
}
.AppFooter-react a {
  font-weight: bold;
  font-size: 1em;
  color: rgb(97, 218, 251);
}

@media only screen and (max-width: 765px) {
  .AppFooter-made-with-react {
    font-size: 85%;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    position: fixed;
    opacity: 0.95;
    top: 0px;
    z-index: 10;
  }
  .mdl-layout__drawer-button {
    position: fixed !important;
  }
}
