.header-color {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ui.segment {
  background-color: #aaa;
  padding: 0px;
  margin: 0px;
  /* border: medium solid yellow; */
  border: none !important;
}

@media only screen and (max-width: 800px) {
  /* .App-footer {
    display: flex;
    justify-content: center;
    position: static;
    padding: 5px;
    bottom: 0;
  } */
}

@media only screen and (min-width: 1024px) {
  header {
    position: fixed;
    opacity: 0.95;
    top: 0px;
    z-index: 10;
  }
  .mdl-layout__drawer-button {
    position: fixed !important;
  }
}
