.header-color {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ui.segment {
  background-color: #aaa;
  padding: 0px;
  margin: 0px;
  /* border: medium solid yellow; */
  border: none !important;
}

.mdl-mini-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: center !important;
  padding: 5px 16px !important;
  color: black !important;
  background-color: white !important;
}

.mdl-layout__drawer-button {
  position: fixed !important;
}

@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 1024px) {
  header {
    position: fixed;
    opacity: 0.95;
  }
  Drawer {
    position: fixed;
  }
}
