.Landing-container {
  width: 100%;
  margin: auto;
}

.Landing-grid {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  /* 全画面に固定、空白を覆いかぶさるイメージ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.Landing-phone-profile img {
  height: 230px;
  padding-top: 5em;
  display: none;
}

#Landing-profile {
  border-radius: 15px;
  height: 250px;
}

.Landing-banner-text {
  display: block;
  background-color: black;
  /* background-image: linear-gradient(180deg, black 0%, #333333 5%); */
  opacity: 0.8;
  width: 54em;
  margin: auto;
  border-radius: 10px;
}

.Landing-banner-text h3 {
  font-size: 2.7em;
  padding-top: 0.5em;
  margin-bottom: 0.1em;
  font-weight: 900;
  color: whitesmoke;
}
.Landing-banner-text h4 {
  margin: 0.5em;
  /* margin-top: 0.4em; */
  font-size: 1.95em;
  color: whitesmoke;
}

.Landing-banner-text hr {
  border-top: 4.5px dotted white;
  width: 48%;
  margin: auto;
}

.Landing-banner-text p {
  color: white;
  font-size: 22px;
  padding-top: 15px;
}
.Landing-banner-text span {
  color: white;
  font-size: 21px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.Landing-react:hover {
  color: rgb(97, 218, 251);
}
.Landing-javascript:hover {
  color: #f0db4f;
}
.Landing-golang:hover {
  color: #375eab;
}
.Landing-python:hover {
  /* background: linear-gradient(90deg, #306998 50%, #FFD43B 50%); */
  background: linear-gradient(90deg, #306998, #ffd43b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.Landing-solidity:hover {
  background: linear-gradient(#6d7f86 65%, rgb(191, 192, 192) 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* white-space: nowrap; */
}

.Landing-social-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
  margin: auto;
}

.Landing-social-links i {
  display: inline-flexbox;
  color: white;
  font-size: 4.5em;
  padding: 0.1em;
  padding-bottom: 0.3em;
}

.Landing-social-links .fa-linkedin:hover {
  color: rgb(0, 115, 177);
}
.Landing-social-links .fa-github:hover {
  color: lightslategray;
}
.fa-cube:hover {
  color: salmon;
}

.Landing-footer {
  display: flex;
  justify-content: center;
  position: static;
  bottom: 0;
  text-align: center;
}
.Landing-marginBottom {
  margin-bottom: 0.5em;
}
/* Flipping a simple image to a div */
#Landing-f1_container {
  position: relative;
  margin: 10px auto;
  width: 750px;
  height: 385px;
  z-index: 1;
  padding-top: 2.6em;
}
#Landing-f1_container {
  perspective: 1000;
}
#Landing-f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s linear;
}
#Landing-f1_container:hover #Landing-f1_card {
  transform: rotateY(180deg);
}
.Landing-face {
  padding-top: 5em;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.Landing-face p {
  font-size: 1.3em;
  padding-top: 0.5em;
  margin-bottom: 0em;
}
.Landing-face h4 {
  margin: 0em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
.Landing-face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 0em 1em 1em 1em;
  color: white;
  text-align: center;
  background-color: #aaa;
}
/* end */

@keyframes SlideDown {
  0% {
    opacity: 0; /* 透明 */
    transform: translateY(-50px); /* Y軸方向に-50px */
  }
  100% {
    opacity: 1; /* 不透明 */
    transform: translateY(0); /* Y軸方向に0px */
  }
}

.Landing-SlideDown {
  animation-duration: 2s;
  animation-name: SlideDown;
}

/* phone */
@media only screen and (max-width: 765px) {
  .Landing-banner-text {
    display: block;
    background-color: black;
    opacity: 0.8;
    width: 23em;
    padding: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
  }
  .Landing-banner-text hr {
    border-top: 3px dotted white;
    width: 68%;
    margin: auto;
  }
  .Landing-banner-text h3 {
    font-size: 1.3em;
    color: white;
    margin-bottom: 0.1em;
  }
  .Landing-banner-text h4 {
    font-size: 1.2em;
    color: white;
    margin-top: 0em;
    margin-bottom: 0.5em;
  }
  .Landing-banner-text p {
    color: white;
    font-size: 16px;
    padding-top: 13px;
    margin-bottom: 5px;
  }
  .Landing-banner-text span {
    color: white;
    font-size: 13.5px;
    padding-top: 13px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .Landing-social-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding-left: 0.45em;
  }
  .Landing-social-links i {
    color: white;
    font-size: 2.5em;
    padding: 4px;
    padding-top: 7px;
    margin-bottom: 18px;
  }
  .Landing-solidity:hover {
    background: linear-gradient(#6d7f86 75%, rgb(191, 192, 192) 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Landing-phone-profile img {
    display: inline-flex;
    text-align: center;
    height: 180px;
    margin-top: 35px;
    padding-top: 0px;
    border-radius: 15px;
  }
  /* Flipping a simple image to a div */
  #Landing-f1_container {
    display: none;
  }
  .Landing-footer {
    display: block;
    position: fixed;
    bottom: 0;
    margin: auto;
    left: 33% !important;
  }
}

/* for desktop resolution layout */
@media screen and (min-height: 760px) {
  .Landing-footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 0.5em;
    left: 43.8%;
  }
}

/* Ipad pro */
@media screen and (max-width: 1020px) and (min-width: 766px) {
  .Landing-banner-text {
    background-color: black;
    opacity: 0.8;
    width: 45em;
    padding: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .Landing-banner-text hr {
    border-top: 4px dotted white;
    width: 55%;
    margin: auto;
  }
  .Landing-social-links i {
    display: inline-flexbox;
    color: white;
    font-size: 4.5em;
    padding: 0.1em;
    margin-bottom: 0.35em;
  }
}
