.Projects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* for footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.Projects-grid {
  display: flex;
}

.Projects-content {
  flex-grow: 1;
}

/* .Projects-footer {
  display: block;
  padding-bottom: 0.05em;
  left: 44.8%;
  margin: auto;
  bottom: 0;
} */

/* 
.Projects-footer {
  display: block;
  position: fixed;
  padding-bottom: 0.05em;
  left: 44.8%;
  margin: auto;
  bottom: 0;
} */

/* face in  */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Projects-fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.Projects-fade-in.one {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.Projects-fade-in.two {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.Projects-fade-in.three {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.Projects-fade-in.four {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.Projects-fade-in.five {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.Projects-fade-in.six {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
/* End fade in */

/* phone */
@media only screen and (max-width: 800px) {
  .Projects-category-tabs {
    margin-top: 30px;
  }
  .Projects-footer {
    display: flex;
    justify-content: center;
    position: static;
    padding: 5px;
    bottom: 0;
  }
}

/* ipad */
@media only screen and (max-width: 800px) and (min-width: 768px) {
  .Projects {
    padding-top: 0em;
  }

  .Projects-footer {
    display: block;
    margin: auto;
    position: fixed;
    padding: 5px;
    bottom: 0;
    left: 39.8%;
  }
}

/* ipad pro */
@media only screen and (max-width: 1024px) and (min-width: 800px) {
  .Projects {
    padding-top: 2.5em;
  }
}
/* laptop */
@media only screen and (min-width: 1025px) {
  .Projects {
    padding-top: 4.8em;
  }
}
