/* To scroll to top */
.Resume {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.Resume-avatar img {
  padding: 0.15em;
  height: 350px;
  border-radius: 10%;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}

.Resume-avatar {
  text-align: center;
}

.Resume-intro p {
  font-size: 1.2em;
}

.Resume-txt-center {
  text-align: center;
}

.Resume-name {
  text-align: center;
  padding-top: 0.5em;
  color: black;
}

.Resume-contact-body {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background: grey;
}

.Resume-contact i {
  font-size: 20px;
  padding-bottom: 0.5rem;
}

.fa-file-pdf {
  padding-left: 2.5px;
  margin-right: 1.8px;
}

.Resume-linkedin i {
  font-size: 22px;
  padding-bottom: 0.5rem;
}
.Resume-linkedin i：hover {
  color: white;
}
.Resume-codeSandBox img {
  color: black;
  width: 20px;
  padding-bottom: 0.5rem;
}

.Resume-contact span {
  color: black;
  font-size: 1.2em;
  margin-left: 0em;
}

.Resume-contact a {
  color: black;
  font-size: 1.2em;
  line-height: 0.5em;
  margin-left: 1.15em;
}
.Resume-contact .Resume-home a {
  color: black;
  font-size: 1.2em;
  line-height: 0.5em;
  margin-left: 0.95em;
}

.Resume-contact-adj {
  font-size: 1.2em;
  line-height: 0.5em;
  padding-left: 21px;
}

.Resume-contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  /* border: 2px solid red; */
}

/* Font -family from google fonts */
.Resume-contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.Resume-contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

/* margin: auto will put the  ... in center */
.Resume-contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.Resume-contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.Resume-plans-description {
  color: rgba(0, 0, 0, 0.7);
  padding-left: 0.09em;
  font-size: 0.9em;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}

.Resume-right-col {
  background: #27221f;
  color: white;
  padding: 1.5em;
  line-height: 0.3em;
}

.Resume-right-col h3 {
  color: sienna;
  font-family: monospace;
}

.Resume-frontend {
  font-size: 1.8em;
  padding-left: 0.5em;
  color: darkgray;
  text-shadow: 1px 1px 0px darkgray, 2px 2px 0px black, 3px 3px 0px black,
    4px 4px 0px darkgray, 3px 3px 0px #7777aa;
}

.Resume-backend {
  font-size: 1.8em;
  padding-left: 0.5em;
  color: darkgray;
  text-shadow: -1px -1px 15px goldenrod, 1px 1px #ffffff;
  /* text-shadow: 0px 0px 20px silver; */
}

.Resume-backend-other {
  font-size: 1.8em;
  padding-left: 0.5em;
  color: rgba(0, 0, 0, 0.5); /*透過必須*/
  text-shadow: 2px 2px 2px #9d9da4 /*背景色に合わせる*/, 0 0 #000;
}

.Resume-skill-title {
  display: flex;
  font-size: 1.4em;
}

.Resume-skills p,
span {
  font-size: 1.1em;
  padding-left: 1em;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: lightgray;
}

.Resume-skills a {
  font-size: 1em;
  padding-left: 1.2em;
}

.Resume-skills h4 {
  text-align: center;
  padding-top: 0.5em;
  color: white;
}

.Resume-education-job {
  color: white;
}

.Resume-education-job h5 {
  line-height: 2em;
  margin-top: 0px;
  margin-bottom: 5px;
}
.Resume-education-job p {
  line-height: 2em;
  font-size: 1.2em;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: lightgray;
  margin-bottom: 8px;
}

.Resume-job-descriptions {
  padding-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Resume-job-descriptions li {
  font-size: 1.1em;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: lightgray;
}

.Resume-education-job a {
  font-size: 1em;
}

.Resume-footer {
  display: flex;
  justify-content: center;
  position: static;
  padding: 5px;
  bottom: 0;
  padding-bottom: 0.05em;
  left: 44.8%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Resume-fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.Resume-fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.Resume-fade-in.two {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1;
}

.Resume-fade-in.three {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/* phone */
@media only screen and (max-width: 800px) {
  .mdl-grid {
    padding: 4.5px !important;
  }

  .Resume-avatar img {
    margin-top: 3em;
    height: 280px;
    border-radius: 10%;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.8));
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
  }

  .Resume-right-col {
    background: #27221f;
    color: white;
    padding: 1.5em 0.5em;
    line-height: 0.3em;
  }

  .Resume-right-col h3 {
    font-size: 2.2em;
    color: sienna;
    font-family: monospace;
    margin-bottom: 0em;
  }

  .Resume-frontend {
    font-size: 1.6em;
    margin: 1em 0em;
    padding-left: 0.2em;
    color: darkgray;
    text-shadow: 1px 1px 0px darkgray, 2px 2px 0px black, 3px 3px 0px black,
      4px 4px 0px darkgray, 3px 3px 0px #7777aa;
  }

  .Resume-backend {
    font-size: 1.6em;
    padding-left: 0.5em;
    color: darkgray;
    text-shadow: -1px -1px 15px goldenrod, 1px 1px #ffffff;
    /* text-shadow: 0px 0px 20px silver; */
  }

  /* .Resume-skills > div > div:nth-child(4){
  color:yellow !important;
} */

  .Resume-skill-title {
    display: flex;
    font-size: 1.2em;
  }

  .Resume-skills p,
  span {
    /* color: white; */
    font-size: 1em;
    padding-left: 1em;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
  }

  .Resume-skills a {
    font-size: 1em;
    padding-left: 1em;
  }

  .Resume-skills h4 {
    text-align: center;
    padding-top: 0em;
    color: white;
  }

  .Resume-education-job {
    color: white;
  }

  .Resume-education-job h5 {
    line-height: 2em;
    font-size: 1.05em;
  }

  .Resume-education-job p {
    line-height: 2em;
    font-size: 1em;
    color: lightgray;
    font-weight: 400;
  }

  .Resume-education-job a {
    font-size: 1em;
  }

  .Resume-footer {
    display: flex;
    justify-content: center;
    position: static;
    padding: 5px;
    bottom: 0;
  }
}

/* laptop */
@media only screen and (min-width: 1025px) {
  .Resume {
    padding-top: 4.8em;
  }
}
@media only screen and (max-width: 1290px) {
  .Resume-other-than-that {
    display: none;
  }
}
/* ipad */
@media only screen and (max-width: 839px) and (min-width: 768px) {
  .Resume-avatar img {
    margin-top: 3em;
    height: 320px;
    border-radius: 10%;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.8));
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
  }
  .Resume-right-col {
    background: #27221f;
    color: white;
    margin-top: 3.5em !important;
    line-height: 0.3em;
  }
  /* 中央寄せ */
  .Resume .Resume-intro-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 840px) {
  .Resume-avatar img {
    margin-top: 1em;
    height: 235px;
    border-radius: 10%;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.8));
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
  }
  .Resume-name {
    padding-top: 1em;
    font-size: 1.7em;
  }
  .Resume {
    padding-top: auto;
    font-size: 80%;
  }
}
/* ipad pro */
@media only screen and (max-width: 1025px) and (min-width: 1024px) {
  .Resume-avatar img {
    margin-top: 3em;
    height: 300px;
    border-radius: 10%;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.8));
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
  }
  .Resume-right-col {
    background: #27221f;
    color: white;
    margin-top: 3.5em !important;
    line-height: 0.3em;
  }
}
