.RollDice {
  display: flex;
  flex-flow: column nowrap;
  /* min-height: 100vh; */
  position: relative;
  background-color: #232526; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.RollDice-footer {
  position: fixed;
  bottom: 0;
  right: 2%;
}

.RollDice-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.RollDice-funfact {
  margin: 12px;
}

.RollDice button {
  font-size: 1.1em;
  align-self: center;
  width: 15em;
  padding: 0.3em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 0.5em;
}

.RollDice button:hover {
  background-color: darkslateblue;
  cursor: pointer;
}
