.header-color {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  /* 全画面に固定、空白を覆いかぶさるイメージ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.profile {
  height: 230px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.banner-text h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 17px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 7px;
}

.projects-grid {
  display: flex;
  width: 100%;
}

/* resume page css */

.resume p,
a {
  font-size: 1em;
}

.intro p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.resume h4 {
  padding-top: 0.5em;
  color: black;
  text-align: center;
}

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 1.5em;
  line-height: 0.3em;
}

.resume-right-col h3 {
  paddingtop: 1em;
  color: sienna;
  font-family: monospace;
}

.education-job {
  color: white;
}

.education-job p {
  line-height: 2em;
  font-size: 1.2em;
}

.education-job a {
  font-size: 1em;
}
.contact-adj {
  font-size: 1.2em;
  line-height: 0.5em;
  padding-left: 21px;
}

.contact a {
  font-size: 1.2em;
  line-height: 0.5em;
  padding-left: 2px;
}

.skills p,
span {
  color: white;
  font-size: 1.1em;
  padding-left: 1em;
}

.skills a {
  font-size: 1em;
  padding-left: 1em;
}

.Resume-frontend {
  font-size: 1.8em;
  padding-left: 0.5em;
  color: darkgray;
  text-shadow: 1px 1px 0px darkgray, 2px 2px 0px black, 3px 3px 0px black,
    4px 4px 0px darkgray, 3px 3px 0px #7777aa;
}

.Resume-backend {
  font-size: 1.8em;
  padding-left: 0.5em;
  color: darkgray;
  text-shadow: -1px -1px 15px goldenrod, 1px 1px #ffffff;
  /* text-shadow: 0px 0px 20px silver; */
}

.skills h4 {
  paddingtop: 1em;
  color: white;
}

.contact-body {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background: grey;
}

.contact i {
  font-size: 20px;
  padding-bottom: 0.5rem;
}

.Resume-linkedin i {
  font-size: 22px;
  padding-bottom: 0.5rem;
}

.contact span {
  color: black;
  font-size: 1.2em;
  margin-left: 0em;
}

.contact a {
  color: black;
  font-size: 1.2em;
  margin-left: 1em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  /* border: 2px solid red; */
}

/* Font -family from google fonts */
.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

/* margin: auto will put the  ... in center */
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

/* end - contact page css */

@keyframes SlideDown {
  0% {
    opacity: 0; /* 透明 */
    transform: translateY(-50px); /* Y軸方向に-50px */
  }
  100% {
    opacity: 1; /* 不透明 */
    transform: translateY(0); /* Y軸方向に0px */
  }
}

.SlideDown {
  animation-duration: 2s;
  animation-name: SlideDown;
  /* animation-iteration-count: infinite; */
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

@media only screen and (max-width: 700px) {
  .profile {
    padding-right: 15px;
  }
  .banner-text {
    background-color: black;
    opacity: 0.8;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-right: 28px;
    border-radius: 10px;
  }

  .banner-text h3 {
    font-size: 1.5em;
    color: white;
  }
  .banner-text h4 {
    font-size: 1.4em;
    color: white;
  }
  .banner-text p {
    font-size: 1em;
    color: white;
  }
  .social-links {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
  }
  .social-links i {
    color: white;
    font-size: 3em;
    padding: 4px;
  }
  .project {
    width: 70%;
  }
  .avatar-img {
    margin-top: 20px;
    width: 330px;
    height: 270px;
    border-radius: 10%;
  }
  .category-tabs {
    margin-top: 30px;
  }
}
