.header-color {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  /* 全画面に固定、空白を覆いかぶさるイメージ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.profile {
  height: 230px;
  padding-top: 5em;
}
.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.banner-text h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 17px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 7px;
}

.projects-grid {
  display: flex;
  width: 100%;
}

/* resume page css */

.resume p,
a {
  font-size: 1em;
}

.intro p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.resume h4 {
  padding-top: 0.5em;
  color: black;
  text-align: center;
}

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 1.5em;
  line-height: 0.3em;
}

.resume-right-col h3 {
  paddingtop: 1em;
  color: sienna;
  font-family: monospace;
}

.education-job {
  color: white;
}

.education-job p {
  line-height: 2em;
  font-size: 1.2em;
}

.education-job a {
  font-size: 1em;
}
.contact p,
a,
span {
  font-size: 1.2em;
  line-height: 0.5em;
}

.skills p,
span {
  color: white;
  font-size: 1.1em;
  padding-left: 1em;
}

.skills a {
  font-size: 1em;
  padding-left: 1em;
}

.skills h4 {
  paddingtop: 1em;
  color: white;
}

.contact-body {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background: grey;
}

.contact i {
  font-size: 20px;
  padding-bottom: 0.5rem;
}

.contact span {
  color: black;
  font-size: 1.2em;
  margin-left: 0em;
}

.contact a {
  color: black;
  font-size: 1.2em;
  margin-left: 1em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  /* border: 2px solid red; */
}

/* Font -family from google fonts */
.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

/* margin: auto will put the  ... in center */
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

/* end - contact page css */

@media only screen and (max-width: 800px) {
  .banner-text {
    background-color: black;
    opacity: 0.8;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .banner-text h3 {
    font-size: 1.5em;
    color: white;
  }
  .banner-text h4 {
    font-size: 1.4em;
    color: white;
  }
  .banner-text p {
    font-size: 1em;
    color: white;
  }
  .social-links {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
  }
  .social-links i {
    color: white;
    font-size: 3em;
    padding: 4px;
  }
  .project {
    width: 70%;
  }
  .avatar-img {
    margin-top: 20px;
    width: 330px;
    height: 270px;
    border-radius: 10%;
  }
  .category-tabs {
    margin-top: 30px;
  }
}
